<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="/css/styles.css">
    <title>RR Guitar Shop Guitarras</title>
</head>
<body class="bg-palm crt">
  <!-- Nav Bar -->
  <%- include ('../partials/header') %> 
   <!-- Main Body -->
  
   <section class="container-md text-center bg-purple mx-auto my-4 rounded-3">
    <div class="h-auto p-5 ">
      <h1 class="display-4 white martel text-center"><%= producto.nombre %> </h1>
    </div>
    <div class="album pb-5 ">
      <div class="container">
        
          <div class="row mx-auto my-2">
            <div class=" border-gradient" >
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="img-height img-fluid" src="/img/<%= producto.imagen %>" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img class="img-height img-fluid" src="/img/<%= producto.imagen %>" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" >
                    <img class="img-height img-fluid" src="/img/<%= producto.imagen %>" class="d-block w-100" alt="...">
                  </div> 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row mx-auto my-2">
            <div class="card shadow-lg border-gradient  px-0">
              <div class="card-body bg-dark text-dark ">
                <p class="display-5 text-center white mx-auto ">USD <%= producto.precio %> </p>
                <p class="card-text mx-auto white text-center h4  yellowtail" >En Stock!</p> 
                <p class="card-text white h4 martel text-start pt-4" >
                  <%= producto.descripcion %> 
                </p>
                <div class="d-flex justify-content-center align-items-center my-4">
                  <div class="btn-group">
                    <button type="button" class=" btn btn-lg btn-outline-success">Comprar</button>
                    <button type="button" class="btn btn-lg btn-outline-success">Agregar al Carrito</button>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class=" btn btn-lg btn-outline-danger">Borrar</button>
                    <button type="button" class="btn btn-lg btn-outline-warning">Editar</button>
                  </div>
                  <small class="text-muted">Tipo de Producto: <%= producto.categoria %> </small>
                </div>
              </div>
            </div>
          </div>
        

      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include ('../partials/footer') %>   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>